<div class="wrapper terminal">
  <div>
    <span class="sign">&#62;</span>
    <span class="text-white">Chatminal</span> v{{ version }}
  </div>
  <div>
    <span class="sign">&#62;</span>
    <span>Minimalistic chat app for web, terminal, desktop, etc.</span>
  </div>
  <div>
    <span class="sign">&#62;</span>
    <span>Select a room to join and start chatting.</span>
  </div>
  <div>
    <span class="sign">&#62;</span>
    <span>Check <a routerLink="/settings">settings</a> to display name and other things.</span>
  </div>
</div>
