<div class="wrapper" *ngIf="room">

  <!-- Header -->
  <div class="header">
    <div class="fw-bold me-auto" *ngIf="room.alias">{{ room.alias }}</div>
    <div class="fw-bold me-auto" *ngIf="!room.alias">Room <span class="font-monospace">{{ room.id }}</span></div>
    <a class="text-secondary" *ngIf="room.members" (click)="showMembers()" title="Click to show members">
      <span class="me-1">{{ room.members.count | number }}</span>
      <fa-icon [fixedWidth]="true" [icon]="faUsers"></fa-icon>
    </a>
    <a class="ms-3 text-secondary" *ngIf="view === 'messages'" (click)="view = 'settings'">
      <fa-icon [fixedWidth]="true" [icon]="faSettings"></fa-icon>
    </a>
  </div>

  <!-- View -->
  <div class="view" #viewElement>

    <!-- View: Messages -->
    <app-message-list classes="mx-5 mt-5 mb-2"
                      [messages]="room.messages"
                      *ngIf="view === 'messages'">
    </app-message-list>

    <!-- View: Settings -->
    <div class="terminal m-5" *ngIf="view === 'settings'">
      <div>
        <span class="sign">&#62;</span>
        <span class="text-white">Room Settings</span>
      </div>
      <div>
        <span class="sign">&#62;</span>
        <span>Room ID is {{ room.id }}</span>
      </div>
      <div>
        <span class="sign">&#62;</span>
        <span *ngIf="room.members">Your connection is <span class="text-success">OK</span></span>
        <span *ngIf="!room.members">Your connection is <span class="text-danger">NOT OK</span></span>
      </div>
      <div *ngIf="room.members">
        <span class="sign">&#62;</span>
        <span>Online currently: <span class="text-success">{{ room.members.count | number }}</span></span>
      </div>
      <div>
        <span class="sign">&#62;</span>
        <span>Room alias (only for you): </span>
        <input [(ngModel)]="room.alias" (blur)="room.save()" placeholder="Friends">
      </div>
      <div>
        <span class="sign">&#62;</span>
        <button (click)="room.remove()">Leave Room</button>
      </div>
      <div>
        <span class="sign">&#62;</span>
        <button (click)="room.clearMessages(); view = 'messages'">Clear History</button>
      </div>
      <div>
        <span class="sign">&#62;</span>
        <button (click)="view = 'messages'">Go Back</button>
      </div>
    </div>
  </div>

  <!-- Chatbox -->
  <form class="chatbox" *ngIf="view === 'messages' && room.members" (ngSubmit)="submit()">

    <!-- Message input -->
    <input type="text" class="chatbox" placeholder="Message"
           [ngModelOptions]="{ standalone: true }"
           [(ngModel)]="input">

    <!-- Upload input (hidden) -->
    <input type="file" class="d-none" #fileElement>

    <!-- Upload button -->
    <a class="upload" type="button" appUpload [fileInput]="fileElement" (upload)="submit($event)">
      <fa-icon [fixedWidth]="true" [icon]="faUpload"></fa-icon>
    </a>
  </form>
</div>
