<div class="wrapper" *ngIf="room">

  <!-- Header -->
  <div class="header">

    <!-- Room name -->
    <div class="fw-bold me-auto">
      <ng-container *ngIf="room.alias">{{ room.alias }}</ng-container>
      <ng-container *ngIf="!room.alias">Room <span class="font-monospace">{{ room.id }}</span></ng-container>
    </div>

    <!-- Members -->
    <a class="text-secondary" *ngIf="room.members" (click)="showMembers()" title="Click to show members">
      <span class="me-1">{{ room.members.count | number }}</span>
      <fa-icon [fixedWidth]="true" [icon]="faMembers"></fa-icon>
    </a>

    <!-- Scroll down -->
    <a class="ms-3 text-secondary" *ngIf="view === 'messages'" (click)="chatboxScrollDown()" title="To latest message">
      <fa-icon [fixedWidth]="true" [icon]="faScrollDown"></fa-icon>
    </a>

    <!-- Settings -->
    <a class="ms-3 text-secondary" *ngIf="view === 'messages'" (click)="view = 'settings'" title="Room settings">
      <fa-icon [fixedWidth]="true" [icon]="faSettings"></fa-icon>
    </a>

    <!-- Settings -->
    <a class="ms-3 text-secondary"
       *ngIf="view !== 'messages'"
       (click)="view = 'messages'; chatboxScrollDown()"
       title="Back to messages">
      <fa-icon [fixedWidth]="true" [icon]="faMessages"></fa-icon>
    </a>
  </div>

  <!-- View -->
  <div class="view" #chatsElement>

    <!-- View: Messages -->
    <app-message-list classes="m-3"
                      [messages]="room.messages"
                      *ngIf="view === 'messages'">
    </app-message-list>

    <!-- View: Settings -->
    <div class="terminal m-5" *ngIf="view === 'settings'">
      <div>
        <span class="sign">&#62;</span>
        <span class="text-white">Room Settings</span>
      </div>
      <div>
        <span class="sign">&#62;</span>
        <span>Room ID is {{ room.id }}</span>
      </div>
      <div>
        <span class="sign">&#62;</span>
        <span *ngIf="room.members">Your connection is <span class="text-success">OK</span></span>
        <span *ngIf="!room.members">Your connection is <span class="text-danger">NOT OK</span></span>
      </div>
      <div *ngIf="room.members">
        <span class="sign">&#62;</span>
        <span>Online currently: <span class="text-success">{{ room.members.count | number }}</span></span>
      </div>
      <div>
        <span class="sign">&#62;</span>
        <span>Room alias (only for you): </span>
        <input [(ngModel)]="room.alias" (blur)="room.save()" placeholder="Friends">
      </div>
      <div>
        <span class="sign">&#62;</span>
        <button (click)="room.remove()">Leave Room</button>
      </div>
      <div>
        <span class="sign">&#62;</span>
        <button (click)="room.clearMessages(); view = 'messages'">Clear History</button>
      </div>
      <div>
        <span class="sign">&#62;</span>
        <button (click)="view = 'messages'; chatboxScrollDown()">Go Back</button>
      </div>
    </div>
  </div>

  <!-- Chatbox -->
  <form class="chatbox" *ngIf="view === 'messages' && room.members" (ngSubmit)="submit()">

    <!-- Message input -->
    <textarea type="text"
              placeholder="Message"
              autocomplete="off"
              autocapitalize="on"
              appAutoFocus
              [class.big]="chatboxBig"
              #chatboxElement
              (keydown.enter)="$event.preventDefault(); submit()"
              (keydown.control.enter)="chatboxNewLine()"
              [required]="true"
              [rows]="3"
              [ngModelOptions]="{ standalone: true }"
              (ngModelChange)="chatboxChange($event)"
              [(ngModel)]="input">
    </textarea>

    <!-- Upload input (hidden) -->
    <input type="file" class="d-none" #fileElement>

    <!-- Upload button -->
    <button class="button"
            type="button"
            title="Upload File"
            appUpload
            [fileInput]="fileElement"
            (upload)="submit($event)">
      <fa-icon [fixedWidth]="true" [icon]="faUpload"></fa-icon>
    </button>

    <!-- Send button -->
    <button class="button" *ngIf="input" title="Send Message (CTRL + Enter)">
      <fa-icon [fixedWidth]="true" [icon]="faSend"></fa-icon>
    </button>
  </form>
</div>
