<!-- Loading bar -->
<ngx-loading-bar color="var(--bs-primary)" [height]="'4px'" [includeSpinner]="false"></ngx-loading-bar>

<!-- Background -->
<canvas #background></canvas>

<!-- Page -->
<div class="wrapper page-{{ active?.name }}">

  <!-- Sidebar -->
  <div class="sidebar">

    <!-- Brand (mobile) -->
    <div class="fw-bold border-bottom p-3 d-block d-md-none">Chatminal</div>

    <!-- Room title (desktop) -->
    <div class="fw-bold border-bottom p-3 d-none d-md-block">Rooms</div>

    <!-- Rooms -->
    <div class="list-group list-group-flush">
      <a [routerLink]="[room.id]"
         [title]="room.id"
         routerLinkActive="active"
         *ngFor="let room of rooms"
         class="list-group-item list-group-item-action d-flex align-items-center">
        <span *ngIf="!room.alias">Room <span class="font-monospace">{{ room.id }}</span></span>
        <span *ngIf="room.alias">{{ room.alias }}</span>
        <span class="ms-auto badge bg-primary" *ngIf="room.unread">{{ room.unread | number }}</span>
      </a>
      <a class="list-group-item list-group-item-action" routerLink="new" routerLinkActive="active">New Room</a>
    </div>

    <!-- Separator -->
    <br>

    <!-- Links -->
    <div class="list-group list-group-flush">

      <!-- Home (desktop) -->
      <a class="list-group-item list-group-item-action d-none d-md-block"
         routerLink="/"
         routerLinkActive="active"
         [routerLinkActiveOptions]="{ exact: true }">
        Home
      </a>

      <!-- Settings -->
      <a routerLink="/settings" class="list-group-item list-group-item-action " routerLinkActive="active">Settings</a>
    </div>
  </div>

  <!-- Page wrapper -->
  <div class="page">

    <!-- Page -->
    <router-outlet (activate)="onActivate($event)"></router-outlet>
  </div>
</div>
