<!-- Wrapper -->
<div class="terminal {{ classes }}">

  <!-- Message -->
  <div *ngFor="let message of messages">

    <!-- User -->
    <span class="font-normal"
          [style.color]="message.userColor"
          *ngIf="!message.temp">
      <span>{{ message.user }}</span>
    </span>

    <!-- Content -->
    <span [class.text-light]="!message.temp" [class.mt-2]="message.multiline" [class.d-block]="message.multiline">

      <!-- Message content (non-markdown) -->
      <span *ngIf="message.temp">{{ message.message }}</span>

      <!-- Message content (markdown) -->
      <markdown *ngIf="!message.temp" [data]="message.message" emoji></markdown>
    </span>

    <!-- File -->
    <div *ngIf="message.file" [ngSwitch]="message.file.group">

      <!-- IMAGE -->
      <img class="block" *ngSwitchCase="fileGroup.IMAGE" [alt]="message.file.name" [src]="message.file.url">

      <!-- VIDEO -->
      <video *ngSwitchCase="fileGroup.VIDEO" class="block ratio-16x9" controls preload="metadata">
        <source [src]="message.file.url" [type]="message.file.type">
      </video>

      <!-- AUDIO -->
      <audio *ngSwitchCase="fileGroup.AUDIO" [src]="message.file.url" class="block w-100" controls></audio>

      <!-- TEXT and OTHER -->
      <ng-container *ngSwitchDefault>

        <!-- Download file or preview -->
        <ng-container *ngIf="!fileContent[message.file.url]">

          <!-- Download preview (for TEXT) -->
          <a (click)="loadFileContent(message.file)" *ngIf="message.file.group === fileGroup.TEXT">
            <span>Download Preview</span>
          </a>

          <!-- DOWNLOAD file (for OTHER) -->
          <a [href]="message.file.url" *ngIf="message.file.group !== fileGroup.TEXT" target="_blank" download>
            <span>Download File</span>
          </a>
          <span> {{ message.file.name }} [{{ message.file.size | bytes }}] [{{ message.file.type }}]</span>
        </ng-container>

        <!-- Content -->
        <markdown *ngIf="message.file.group === fileGroup.TEXT && fileContent[message.file.url]"
                  [data]="fileContent[ message.file.url ]">
        </markdown>
      </ng-container>
    </div>
  </div>
</div>
