<div class="wrapper" *ngIf="room">

  <!-- Header -->
  <div class="header">
    <div class="fw-bold p-3">Room <span class="font-monospace">{{ room.id }}</span></div>
  </div>

  <!-- Chats -->
  <div class="chats" #chatsElement>
    <div class="chat" *ngFor="let chat of messages">
      <div class="user">{{ chat.user }}</div>
      <div class="message">{{ chat.message }}</div>
    </div>
  </div>

  <!-- Chatbox -->
  <form class="chatbox" (ngSubmit)="submit()">
    <input type="text" class="chatbox" placeholder="Message"
           [ngModelOptions]="{ standalone: true }"
           [(ngModel)]="input">
  </form>
</div>
