/* Variables */

@import "variables";

/* Google font */

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");

/* Bootstrap */

@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
//@import "~bootstrap/scss/images";
@import "~bootstrap/scss/containers";
@import "~bootstrap/scss/grid";
//@import "~bootstrap/scss/tables";
//@import "~bootstrap/scss/forms";
//@import "~bootstrap/scss/forms/labels";
//@import "~bootstrap/scss/forms/form-text";
//@import "~bootstrap/scss/forms/form-control";
//@import "~bootstrap/scss/forms/form-select";
//@import "~bootstrap/scss/forms/form-check";
//@import "~bootstrap/scss/forms/form-range";
//@import "~bootstrap/scss/forms/floating-labels";
//@import "~bootstrap/scss/forms/input-group";
//@import "~bootstrap/scss/forms/validation";
//@import "~bootstrap/scss/buttons";
//@import "~bootstrap/scss/transitions";
//@import "~bootstrap/scss/dropdown";
//@import "~bootstrap/scss/button-group";
//@import "~bootstrap/scss/nav";
//@import "~bootstrap/scss/navbar";
//@import "~bootstrap/scss/card";
//@import "~bootstrap/scss/accordion";
//@import "~bootstrap/scss/breadcrumb";
//@import "~bootstrap/scss/pagination";
//@import "~bootstrap/scss/badge";
//@import "~bootstrap/scss/alert";
//@import "~bootstrap/scss/progress";
@import "~bootstrap/scss/list-group";
//@import "~bootstrap/scss/close";
//@import "~bootstrap/scss/toasts";
//@import "~bootstrap/scss/modal";
//@import "~bootstrap/scss/tooltip";
//@import "~bootstrap/scss/popover";
//@import "~bootstrap/scss/carousel";
//@import "~bootstrap/scss/spinners";
//@import "~bootstrap/scss/offcanvas";
//@import "~bootstrap/scss/placeholders";
//@import "~bootstrap/scss/helpers";
//@import "~bootstrap/scss/helpers/clearfix";
//@import "~bootstrap/scss/helpers/colored-links";
//@import "~bootstrap/scss/helpers/ratio";
//@import "~bootstrap/scss/helpers/position";
//@import "~bootstrap/scss/helpers/stacks";
//@import "~bootstrap/scss/helpers/visually-hidden";
//@import "~bootstrap/scss/helpers/stretched-link";
//@import "~bootstrap/scss/helpers/text-truncation";
//@import "~bootstrap/scss/helpers/vr";
@import "~bootstrap/scss/utilities/api";

/* Global */

:root {
  color-scheme: dark;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar {
  background: transparent;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: $dark-lighten;
}

html {
  height: 100%;
}

body {
  display: flex;
  height: 100%;
}

app-root {
  margin: auto;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

a,
button,
.list-group-item-action {
  cursor: pointer;
}

.card {
  > .card-title,
  > .card-footer {
    display: flex;
    align-items: center;
  }
}

.terminal {
  font-family: $font-family-monospace;
  line-height: $line-height-lg;
  white-space: pre-wrap;
  color: $secondary;

  .sign {
    color: $info;
    padding-right: map_get($spacers, 3);

    &.sign-log {
      opacity: 0;
    }
  }

  input {
    background: none;
    border: none;
    padding: 0;
    outline: none;
    border-bottom: 1px solid $secondary;
  }

  a, button {
    color: $primary;
    border: none;
    padding: 0;
    background: none;

    &:active {
      opacity: 0.5;
    }
  }
}
