<!-- Header (mobile) -->
<div class="header d-md-none">

  <!-- Back link -->
  <a routerLink="/" class="me-3  text-secondary">
    <fa-icon [icon]="faBack" [fixedWidth]="true"></fa-icon>
  </a>

  <!-- Title -->
  <span class="fw-bold">Settings</span>
</div>

<!-- Login and register -->
<form class="wrapper terminal" [formGroup]="form.form" *ngIf="!isLoggedIn">

  <!-- Header -->
  <div>
    <span class="sign">&#62;</span>
    <span class="text-white">Chatminal Account</span>
  </div>
  <div>
    <span class="sign">&#62;</span>
    <span>You can login to save your data in your account instead of browser.</span>
  </div>

  <!-- Email -->
  <div class="mt-5">
    <span class="sign">&#62;</span>
    <span>Email (private): </span>
    <input autocomplete="email"
           formControlName="email"
           placeholder="rick.sanchez@mail.com"
           type="email">
  </div>
  <div *ngIf="form.error.email">
    <span class="sign sign-log">&#62;</span>
    <span class="text-danger">ERROR {{ form.error.email[0] }}</span>
  </div>

  <!-- Password -->
  <div>
    <span class="sign">&#62;</span>
    <span>Password: </span>
    <input autocomplete="current-password"
           formControlName="password"
           placeholder="&bull;&bull;&bull;&bull;"
           type="password">
  </div>
  <div *ngIf="form.error.password">
    <span class="sign sign-log">&#62;</span>
    <span class="text-danger">ERROR {{ form.error.password[0] }}</span>
  </div>

  <!-- Actions -->
  <div class="mt-5">
    <span class="sign">&#62;</span>
    <button [disabled]="form.loading" (click)="submit(false)">Register</button>
  </div>
  <div>
    <span class="sign">&#62;</span>
    <button [disabled]="form.loading" (click)="submit(true)">Login</button>
  </div>
  <div *ngIf="form.loading">
    <span class="sign sign-log">&#62;</span>
    <span class="text-muted">Entering account credentials...</span>
  </div>
  <div *ngIf="form.success">
    <span class="sign sign-log">&#62;</span>
    <span class="text-success">Submitted account credentials successfully.</span>
  </div>
  <div *ngIf="form.error.detail">
    <span class="sign sign-log">&#62;</span>
    <span class="text-danger">ERROR {{ form.error.detail }}</span>
  </div>
</form>

<!-- Sync -->
<div class="wrapper terminal" *ngIf="isLoggedIn">

  <!-- Header -->
  <div>
    <span class="sign">&#62;</span>
    <span class="text-white">Chatminal Account</span>
  </div>

  <!-- Info -->
  <div class="mt-5">
    <span class="sign">&#62;</span>
    <span>You are logged in.</span>
  </div>
  <div>
    <span class="sign">&#62;</span>
    <span>You can pull or your browser data to be in sync with your account.</span>
  </div>
  <div class="mt-5">
    <span class="sign">&#62;</span>
    <button (click)="sync(true)" [disabled]="syncLoading">Pull Account Data</button>
  </div>
  <div>
    <span class="sign">&#62;</span>
    <button (click)="sync(false)" [disabled]="syncLoading">Push Account Data</button>
  </div>
  <div *ngIf="syncLoading">
    <span class="sign sign-log">&#62;</span>
    <span class="text-muted">Syncing account data...</span>
  </div>
  <div *ngIf="syncSuccess">
    <span class="sign sign-log">&#62;</span>
    <span class="text-success">Successfully synced account data.</span>
  </div>
  <div *ngIf="syncError">
    <span class="sign sign-log">&#62;</span>
    <span class="text-success">{{ syncError }}</span>
  </div>
  <div class="mt-5" title="Logout">
    <span class="sign">&#62;</span>
    <button (click)="unlink()" [disabled]="syncLoading">Unlink This Device</button>
  </div>
</div>
