<div class="wrapper container">
  <div class="sidebar">
    <div class="fw-bold border-bottom p-3">Rooms</div>
    <div class="list-group list-group-flush">
      <a [routerLink]="[room.id]"
         routerLinkActive="active"
         *ngFor="let room of rooms"
         class="list-group-item list-group-item-action">
        Room <span class="font-monospace">{{ room.id }}</span>
      </a>
      <a class="list-group-item list-group-item-action" (click)="create()">New Room</a>
    </div>
    <div class="fw-bold border-bottom p-3 mt-3">Settings</div>
    <div class="list-group list-group-flush">
      <a routerLink="/settings" class="list-group-item list-group-item-action">{{ user.username }}</a>
    </div>
  </div>
  <div class="chats">
    <router-outlet (activate)="isInRoom = true" (deactivate)="isInRoom = false"></router-outlet>
    <div class="about" *ngIf="!isInRoom">
      <div>
        <span>&blacktriangleright;</span>
        <span class="text-primary"> Chatminal</span> v{{ version }}
      </div>
      <div>
        <span>&blacktriangleright;</span>
        Minimalistic chat app for web, terminal, desktop, etc.
      </div>
      <div>
        <span>&blacktriangleright;</span>
        Select a room to join and start chatting.
      </div>
      <div>
        <span>&blacktriangleright;</span>
        Click <a routerLink="/settings">settings</a> to change name.
      </div>
    </div>
  </div>
</div>
