@import "src/variables";

.wrapper {
  background: rgba($dark, 0.75);
  color: $light;
  display: flex;
  padding: 0;
  border: $border-width solid $border-color;
  overflow: hidden;
  height: 100%;

  > .sidebar {
    width: 250px;
    flex-shrink: 0;
    border-right: $border-width solid $border-color;
    height: 100%;
    overflow: auto;
    background: rgba($dark, 0.75);
  }

  > .chats {
    width: 100%;

    > .about {
      margin: map_get($spacers, 5);
      font-family: $font-family-monospace;
      white-space: pre;
    }
  }
}
